.main-query-container{
    height: 100%;
    margin-top: 1em;
    margin-left: 4em;
}

#query-h1{
    font-size: 26px;
    color: #8f2e23;
}
.queries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
}

.query-h2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
 
}

.query-card{
    width: 300px;
    border: 2px solid #e2e2e2;
    background-color: #f1f1f1;
    padding: 5px 7px;
    border-radius: 5px;
}

.query-card button{
    width: 100%;
    background-color: #8f2e23;
}
.query-card button:hover{
    width: 100%;
    background-color: white;
    color: #8f2e23;
}
.query-text{
    font-size: 15px;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
}

.query-txtarea{
    width: 277px;
    border-radius: 5px;
    background-color: #fcfcfc;
    resize: none;
    border: 1px solid #e2e2e2;
    margin-right: 7px;
}
.query-txtarea:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #e2e2e2;

}
