@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: POPPINS;
}

.content{
    display: flex;
    flex-direction: row;
  
}
.navbar{
    position: sticky;
    left: 0;
}

.app-footer{
    position: sticky;
    bottom: 1.5%;
    margin-right: 20px;
    float: right;
}
.app-main{
    position: relative;
    
}