 .chatbot{
    border-radius: 50%;
    z-index: 1;
 }

 
 
 .chatbot-button
 {
     background-color: black;
     border: 1px solid black;
     border-radius: 50%;
     padding: 4px 5px 0;
     width: 6ch;
     box-shadow: 2px 4px 10px grey;

 }
 
.chatbox{
    width: 0px;
    width: 350px;
    height: 500px;
    display: block;
    position: absolute;
    bottom: 2em;
    right: 0;
}


.chatbot-titlebar
{
   
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 15px 15px 0 0;
}
.btn-x
{

    border-radius: 50%;
    font-size: 2em;
    padding: 0px 15px 0px 15px;
    transform: rotate(45deg);
}

#placement-txt{
    width: 100%;
}

.chatbot-titlebar img{
    margin-top: 7px;
}
.chatbot-titlebar ul:last-child{
    font-size: 20px;
}


.chatbot-nav ul{
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 2em;
}

.chatbot-text
{   height: 70%;
    background-color:white;
    border: 1px solid #e2e2e2;
    z-index: 1;
    border-bottom: 0;
}


.query-box{
    display: flex;
    width: 100%;
}
.nav-img img{
    background: none;
    height: 100%;
    width: 100%;
}
.query-input
{
    width: 100%;
    height: 30px;
    margin-left: 0px;
    padding-left: 20px;
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    border-radius: 0px 3px 3px 15px;
    z-index: 100;
    opacity: 1;
    outline: none;
}
.query-box button
{
    border-radius: 0 0% 40% 0%;
    background-color: #8F2E23;
    border:5px solid #8F2E23;
    padding: 4px;
}

.bot-text{
    width: max-content;
    max-width: 70%;
    padding: 10px 0px 10px 10px;
    font-size: 14px;
    text-wrap: wrap;
    background-color: #f1f1f1;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.user-text{
    width: fit-content;
    max-width: 70%;
    padding: 10px;
    font-size: 14px;
    float: right;
    text-wrap: wrap;
    background-color: #FFF0EE;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}