.faq{
    margin: 3em 3em;
    border-radius: 10px;
    width: 70vw;
    border-radius: 10px;
}

.summary{
    background-color: #f1f1f1;
}
.accord-head{
    background-color: #8f2e23;
    color: white;
    
}

#panel1-header{
    background-color: #d8d8d8;
}